extends ../layouts/mobile

block main
  h1= title

block content
  - each agenda in agendas
    .agenda
      h3
        a(href='/agendas/'+agenda._id, title=agenda.title) #{agenda.title}
      p= agenda.body

      .meta.muted
        span= formatDate(agenda.createdAt)
        | &nbsp; - &nbsp;
        span Author &nbsp;

        - var name = agenda.user.name ? agenda.user.name : agenda.user.username

        a(href="/users/"+agenda.user._id)= name
        &nbsp; - &nbsp;
        - if (agenda.tags)
          - each tag in agenda.tags.split(',')
            | &nbsp;
            a.tag(href="/tags/"+tag)
              i.icon-tags
              |  #{tag}

  - if (pages > 1)
    ul.pagination
      != createPagination(pages, page)
