
- if (item && item.user)
    - var name = item.user.name ? item.user.name : item.user.username
    .itemTitle(artid=agenda._id,itemid=item._id)=item.itemTitle
    .itemEnabled
      label(for="itemEnabled")
      input(id="itemEnabled",type='checkbox', name="enabled", value=itemEnabled)=item.itemEnabled
    .itemOpens=item.itemVoteOpenBy
    .itemPresenter=item.presenter
    p.muted
      form.form-inline(role="form", method="post", action="/articles/" + article._id + "/comments/" + comment._id, onsubmit="return confirm('Are you sure?')")
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        span.muted= formatDate(comment.createdAt)
        input(type="hidden", name="_method", value="DELETE")
        button.btn.btn-danger.btn-link.error(type="submit") delete